{
    "person1": {
        "firstname": "pedro",
        "lastname": "fernandes",
        "profession": "nurse"
    },
    "person2": {
        "firstname": "pedro",
        "lastname": "fernandes",
        "profession": "nurse",
        "id": "1"
    }
}